remoteurl = http://saas.contentninja.services
localurl = http://localhost

sitetitle = ContentNinja SaaS
sitesubtitle = Content Ninja Software as a Service
site.author = Content Ninja
site.email = mail@example.com
post.title post.content
site.url = http://saas.contentninja.services

default_index = source/index.markdown
comtec = 1

bin	= /Users/rpr/bin
lib	= /Users/rpr/bin/lib

source = source
posts	=	_posts
drafts = _drafts
stash	= _stash
public = output

theme = cn-saas

debug = 0
